{% extends "useradmin/base.html" %}    
    {% load static %}
        {% block content %}    
            <section class="content-main">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header">
                                <h2 class="content-title">Add New Review</h2>
                                <a href="{% url "useradmin:reviews-list" %}" class="btn btn-lg">Click to go back to Reviews-List</a>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Add-Review</h4>
                                </div>
                                <div class="card-body">
                                    <div class="messagesTime">
                                        {% if form.errors %}
                                        <div class="alert alert-danger">
                                            <h6>{{form.errors}}</h6>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">User Name</label>
                                        {{form.user_name}}
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Review</label>
                                        {{form.review}}
                                    </div>
                                </div>
                            </div>
                            <div class="text-end">
                                <button class="btn button-hover-effect mt-3 rounded" type="submit">Add Review</button>
                            </div>
                        </div>
                        <!-- card end// -->
                    </div>
                </form>
            </section>
{% endblock %}
