{% extends "useradmin/base.html" %}    
    {% load static %}
        {% block content %}    
            <section class="content-main">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header">
                                <h2 class="content-title">Edit General Services</h2>
                                <a href="{% url 'useradmin:gen-service-list' %}" class="btn btn-lg">Click to go back to General-Services-List</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Edit General Services</h4>
                                </div>
                                <div class="card-body">
                                    <div class="messagesTime">
                                        {% if form.errors %}
                                        <div class="alert alert-danger">
                                            <h6>{{form.errors }}</h6>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <!-- Project Title -->
                                    <div class="mb-4">
                                        <label for="project_title" class="form-label">Title</label>
                                        {{form.title }}
                                    </div>
                
                                    <!-- Client Name -->
                                    <div class="mb-4">
                                        <label for="client_name" class="form-label">Description</label>
                                        {{form.description }}
                                    </div>
                                    <!-- Existing Image -->
                                    <div class="mb-4">
                                        <label class="form-label">Existing Image</label>
                                        <img src="{{general_service.image.url}}" alt="">
                                    </div>
                                    <!-- Upload Project Images -->
                                    <div class="mb-4">
                                        <label class="form-label">Upload Service Image</label>
                                        {{form.image}}
                                    </div>
                                    <div class="mb-4 form-group form-check">
                                        <label class="form-label">Display on Home Page</label>  <!-- Label for the home page display -->
                                        {{ form.home_pg_display }}  <!-- Checkbox for displaying on the home page -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h3>Edit Bullet Points</h3>
                                </div>
                                <div class="card-body">
                                    <div id="bullet-points-wrapper">
                                        {% for b in bullet_points %}
                                        <input type="text" name="bullet_point" class="form-control mb-2" placeholder="Enter bullet point" value="{{b.content}}">
                                        {% endfor %}
                                        <!-- Add more bullet points dynamically via JavaScript if needed -->
                                    </div>
                                    <div class="text-end">
                                        <button class="btn btn-primary mt-3 rounded hover-up" type="button" onclick="addBulletPoint()">Add Another Bullet Point</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card end// -->
                        <div class="text-end">
                            <button class="btn button-hover-effect mt-3 rounded" type="submit">Update Service</button>
                        </div>
                    </div>
                </form>                
            </section>
{% endblock %}
