{% extends "useradmin/base.html" %}    
    {% load static %}
        {% block content %} 
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">General Services List</h2>
                        <p>Following are the General services we are offering</p>
                        <div class="messagesTime">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}">
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <a href="{% url "useradmin:add-gen-service" %}" class="btn btn-primary rounded"><i class="material-icons md-edit mr-10"></i>Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <h4 class="card-title">General Services List</h4>
                        {% if not services %}
                            <h3>No Services!</h3>
                        {% endif %}
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="align-middle" scope="col">ID</th>
                                            <th class="align-middle" scope="col">Title</th>
                                            <th class="align-middle" scope="col">Description</th>                                            
                                            <th class="align-middle" scope="col">Image</th>
                                            <th class="align-middle" scope="col">Bullet Points</th>
                                            <th class="align-middle" scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for s in services %}
                                            <tr>
                                                <td><a href="{% url "useradmin:general-service-detail" s.id %}" class="fw-bold">#{{s.id}}</a></td>
                                                <td>{{s.title}}</td>
                                                <td>{{s.description}}</td>
                                                <td><img src="{{s.image.url}}" style="width:50px; height:30px" alt=""></td>
                                                <td>
                                                    <ul>
                                                        {% for b in s.bullet_points.all %}
                                                        <li>- {{b.content}}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td>
                                                    <a href="{% url "useradmin:edit-gen-service" s.id %}" class="btn btn-sm d-inline"><i class="fas fa-pen"></i></a>
                                                    <a href="{% url "useradmin:del-gen-service" s.id %}" class="btn btn-sm d-inline"><i class="fas fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- table-responsive end// -->
                        {% if services %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="blog__pagination">
                                        {% if services.has_previous %}
                                            <a href="?page={{ services.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a>
                                        {% endif %}
                            
                                        {% for num in services.paginator.page_range %}
                                            {% if services.number == num %}
                                                <a href="?page={{ num }}" class="active">{{ num }}</a>
                                            {% else %}
                                                <a href="?page={{ num }}">{{ num }}</a>
                                            {% endif %}
                                        {% endfor %}
                            
                                        {% if services.has_next %}
                                            <a href="?page={{ services.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
            </section>
{% endblock content %}