{% extends "useradmin/base.html" %}
{% load static %}
{% block content %}
    <section class="content-main">
        <div class="messagesTime">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        <strong>{{ message }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Reviews Details</h2>
                <p>Details for Review: #{{ review.id }}</p>
            </div>
            <a href="{% url 'useradmin:reviews-list' %}" class="btn btn-lg ms-auto">Click to go back to Reviews List</a>
        </div>

        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <small class="text-muted">Review ID: {{ review.id }}</small>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->

            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-6">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary fas fa-user"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">User Name</h6>
                                <p class="mb-1">
                                    {{ review.user_name }}<br />
                                </p>
                            </div>
                        </article>
                    </div>
                    <!-- col// -->
                    <div class="col-md-6">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-description"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Review</h6>
                                <p class="mb-1">
                                    {{ review.review }}<br />
                                </p>
                            </div>
                        </article>
                    </div>
                    <!-- col// -->
                </div>
                <!-- row // -->

                <!-- Review Images-->
                <div class="row">
                    <div class="col-lg-6">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-image"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Review User Image</h6>
                                <p class="mb-1">
                                    {% if review.user_image %}
                                        <img src="{{ review.user_image.url }}" alt="{{ service.name }}" width="200" height="150">
                                    {% else %}
                                        <p>No User Image</p>
                                        <p><b>Displaying</b> Default User Image</p>
                                        <br>
                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ3Sz275KZaTeZyS-thzhD6U9VIkfO8c-WPA&s" alt="Default User Image">
                                    {% endif %}
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
                <!-- row // -->
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->
    </section>
{% endblock content %}
