{% extends "partials/base.html" %}
{% load static %}
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-1.png' %}">
                <div class="hero__text">
                    <h2 class="text-white">Renovate. Refresh. Reveal.</h2>
                    <a href="{% url 'services:services' %}" class="primary-btn text-white"><h4>See Services</h4></a>
                    <div class="hero__social">
                        <a href="https://www.facebook.com/profile.php?id=61560731714423" target="blank"><i class="fa fa-facebook" style="font-size:2rem;"></i></a>
                        <a href="https://www.tiktok.com/@burly.contracting" target="blank"><i class="fa-brands fa-tiktok" style="font-size:2rem;"></i></a>
                        <a href="https://www.instagram.com/burly.contracting/?utm_source=ig_web_button_share_sheet" target="blank"><i class="fa fa-instagram" style="font-size:2rem;"></i></a>
                        <a href="#" target="blank"><i class="fa fa-linkedin" style="font-size:2rem;"></i></a>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}">
                <div class="hero__text">
                    <h2 class="text-white">Dream It. Build It. Love It</h2>
                    <a href="{% url 'services:services' %}" class="primary-btn text-white"><h4>See Services</h4></a>
                    <div class="hero__social">
                        <a href="https://www.facebook.com/profile.php?id=61560731714423" target="blank"><i style="font-size:2rem;" class="fa fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@burly.contracting" target="blank"><i style="font-size:2rem;" class="fa-brands fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/burly.contracting/?utm_source=ig_web_button_share_sheet" target="blank"><i style="font-size:2rem;" class="fa fa-instagram"></i></a>
                        <a href="#" target="blank"><i style="font-size:2rem;" class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-3.jpg' %}">
                <div class="hero__text">
                    <h2 class="text-white">Visualize. Realize. Relax.</h2>
                    <a href="{% url 'services:services' %}" class="primary-btn text-white"><h4>See Services</h4></a>
                    <div class="hero__social">
                        <a href="https://www.facebook.com/profile.php?id=61560731714423" target="blank"><i style="font-size:2rem;" class="fa fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@burly.contracting" target="blank"><i style="font-size:2rem;" class="fa-brands fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/burly.contracting/?utm_source=ig_web_button_share_sheet" target="blank"><i style="font-size:2rem;" class="fa fa-instagram"></i></a>
                        <a href="#" target="blank"><i style="font-size:2rem;" class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-4.jpg' %}">
                <div class="hero__text">
                    <h2 class="text-white">Envision. Create. Enjoy.</h2>
                    <a href="{% url 'services:services' %}" class="primary-btn text-white"><h4>See Services</h4></a>
                    <div class="hero__social">
                        <a href="https://www.facebook.com/profile.php?id=61560731714423" target="blank"><i style="font-size:2rem;" class="fa fa-facebook"></i></a>
                        <a href="https://www.tiktok.com/@burly.contracting" target="blank"><i style="font-size:2rem;" class="fa-brands fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/burly.contracting/?utm_source=ig_web_button_share_sheet" target="blank"><i style="font-size:2rem;" class="fa fa-instagram"></i></a>
                        <a href="#" target="blank"><i style="font-size:2rem;" class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-num" id="snh-1"></div>
        <div class="slider__progress"><span></span></div>
    </section>
    <!-- Hero Section End -->

    <!-- Project Section Begin -->
    <section class="project spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>Services</span>
                        <h2>Our Services</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="latest__btn">
                        <a href="{% url 'services:services' %}" class="primary-btn normal-btn">View All</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for s in services|slice:":6" %}
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="project__item">
                        <a href="{% url "services:service-projects" s.slug %}"><img height='150px' width='80px' src="{{s.image.url}}" alt=""></a>
                        <h4><a href="{% url "services:service-projects" s.slug %}">{{s.name}}</a></h4>
                        <p>{{s.description}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>        
    </section>
    <!-- Project Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="counter__content">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 stats-container">
                        <div class="counter__item">
                            <div class="counter__item__number">
                                <h2 class="count">30</h2>
                            </div>
                            <div class="counter__item__text">
                                <h5>Projects<br /> Completed</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 stats-container">
                        <div class="counter__item">
                            <div class="counter__item__number">
                                <h2 class="count">53</h2>
                            </div>
                            <div class="counter__item__text">
                                <h5>Happy<br /> Clients</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 stats-container">
                        <div class="counter__item">
                            <div class="counter__item__number">
                                <h2 class="count">34</h2>
                            </div>
                            <div class="counter__item__text">
                                <h5>Cups Of<br /> Coffee</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial spad set-bg" data-setbg="{% static 'img/testimonial/testimonial-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>What our clients say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial__carousel">
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>"Naafy Contracting legalized my basement efficiently. Naeem Toheed and his team were professional, timely, and detail-oriented. Highly recommend!"
                                        — Umair Shahid.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>"Naafy Contracting installed my kitchen cabinets and island. Naeem Toheed and his team were quick, professional, and made sure everything was perfect. Very happy with their work and highly recommend them!"
                                        — Syed Hammadullah Ahmed.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>"Naafy Contracting did a great job on my flooring and staircase. Naeem Toheed and his team were efficient and professional. Highly recommend!"
                                        — Aryan.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-xl-9 col-lg-10">
                                    <p>"Naafy Contracting Inc. did a great job with my landscaping. Naeem Toheed and his team were quick, professional, and transformed the space beautifully. Highly recommend their services!"
                                        — Jonathan.</p>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial__item">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-9">
                                    <p>"Naafy Contracting renovated my washroom efficiently. Naeem Toheed and his team were professional, detail-oriented, and completed the project on time and within budget. Very happy with the results and highly recommend them!"
                                        — Keerthikan Jegan.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-6 col-lg-8 col-md-7 col-sm-10 ">
                    <div class="testimonial__client">
                        <div class="testimonial__client__item add">
                            <div class="testimonial__client__pic">
                                <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Umair Shahid</h5>
                            </div>
                        </div>
                        <div class="testimonial__client__item">
                            <div class="testimonial__client__pic">
                                <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Syed Hammadullah Ahmed</h5>
                            </div>
                        </div>
                        <div class="testimonial__client__item">
                            <div class="testimonial__client__pic">
                                <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Aryan</h5>
                            </div>
                        </div>
                        <div class="testimonial__client__item">
                            <div class="testimonial__client__pic">
                                <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Jonathan</h5>
                            </div>
                        </div>
                        <div class="testimonial__client__item">
                            <div class="testimonial__client__pic">
                                <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="">
                            </div>
                            <div class="testimonial__client__text">
                                <h5>Keerthikan Jegan</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="{% static 'img/call.jpg' %}">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 text-center">
                    <div class="callto__text">
                        <h2>Want to Arrange A Meeting?</h2>
                        <span>Collaborating minds unite to share ideas, solve challenges, and drive progress in our productive meeting.
                        </span>
                        <a href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ1isQSh3PDgXY7yAbLyzLxUaQf5fR7AGu3FnTDHQRskadCTIaaAowoO0hHEY5P9lE-bho6id74d?gv=true" target="_blank" class="primary-btn button-hover-effect">Schedule a Meeting</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

    <!-- Latest Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-6">
                    <div class="section-title">
                        <span>Latest Projects</span>
                        <h2>From our Projects</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="latest__btn">
                        <a href="{% url 'blog:blog-list' %}" class="primary-btn normal-btn">View All</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for b in blogs %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="latest__item">
                            <div class="latest__item__pic">
                                <div class="hover-effect">
                                    <a href="{% url 'blog:blog-details' b.slug %}"><img style="height:100%; width:100%" src="{{b.image.url}}" alt=""></a>
                                </div>
                            </div>
                            <div class="latest__item__text">
                                <h4>{{b.title|truncatechars:30}}</h4>
                                <a href="{% url 'blog:blog-details' b.slug %}">Read more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Latest Section End -->
{% endblock content %}