{% extends "partials/base.html" %}
{% load static %}
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}">
                <div class="container-fluid">
                    <div class="row vh-50 align-items-center justify-content-between">
                        <!-- Left Section -->
                        <div class="col-lg-7 col-md-12 text-center text-light px-4" style="margin-bottom: 24px;">
                            <h1 class="fw-bold mb-3 text-white" style="font-size: 20px; font-weight: 700;">Get a Quick Quote</h1>
                            <h4 class="text-white" style="font-weight: 600; font-size: 28px;">RENOVATE &bull; REFRESH &bull; REVEAL.</h4>
                        </div>
            
                        <!-- Right Section (Form) -->
                        <div class="row">
                            <div class="col-6">
                                <div class="messagesTime">
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{{message.tags}}">
                                                <strong>{{ message }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 mx-auto mx-lg-0" style="align-items: center; display: flex; justify-content: center;">
                            <div class="p-4  text-white" style="background-color: rgba(10, 8, 16, 0.5); border-radius: 16px; max-width: 480px;">
                                <h3 class="mb-3 text-white text-center" style="font-size: clamp(8px, 5vw, 18px);">Get Free Your Renovation Consultation</h3>
                                <form method="POST" action="{% url 'contact:contact-form' %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                                            <input type="text" name="name" id="name" placeholder="Name" class="form-control" required>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                                            <input type="email" name="email" id="email" placeholder="Email" class="form-control" required>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                                            <input type="number" name="phone_no" id="phone_no" placeholder="Phone No" class="form-control" required>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                                            <textarea name="message" id="message" placeholder="Message" class="form-control" rows="4" required></textarea>
                                        </div>
                                        <div class=" text-center" style="padding: 8px 16px;">
                                            <button type="submit" class="site-btn button-hover-effect w-100" style="background-color: rgb(152, 193, 204); color: black; font-size: clamp(8px, 1.5vw, 14px);">Book An Appointment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-num" id="snh-1"></div>
        <div class="slider__progress"><span></span></div>
    </section>
    <!-- Hero Section End -->
    <!-- Project Section Begin -->
    <section class="project spad mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-6">
                    <div class="section-title">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for s in services|slice:":8" %}
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="project__item">
                        <img src="{{ s.image.url }}" alt="{{ s.name }}">
                        <h4>{{ s.name }}</h4>
                        <p class="text-justify">{{ s.description|truncatechars:50 }}</p>
                    </div>
                </div>                
                {% endfor %}
            </div>
            <!-- Centered View All button -->
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                    <div class="latest__btn mb-5">
                        <a href="{% url 'services:services' %}" class="primary-btn normal-btn">View All</a>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <!-- Project Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section">
        <div class="testimonial-heading">
            <h2>What Our Satisfied Clients Say</h2>
        </div>
        <div class="testimonial-carousel">
            <!-- Carousel Container -->
            <div id="carousel" class="carousel-container">
                {% for r in reviews %}
                <div class="testimonial-item {% if forloop.first %}active{% endif %}">
                    <p class="testimonial-text">
                        "{{ r.review }}"
                    </p>
                    <p class="testimonial-author">— {{ r.user_name }}</p>
                    <div class="testimonial-image">
                        {% if r.user_image and r.user_image.url %}
                        <img src="{{ r.user_image.url }}" alt="User Image">
                        {% else %}
                        <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="Default User Image">
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <!-- Navigation Dots -->
            <div class="carousel-dots">
                {% for r in reviews %}
                <div class="dot {% if forloop.first %}active{% endif %}" onclick="goToReview({{ forloop.counter0 }})"></div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="{% static 'img/call.jpg' %}">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 col-md-6 col-sm-12 text-center">
                    <div class="callto__text">
                        <h2>Ready to make your home dreams a reality?</h2>
                        <span>Let's Work toether to share ideas, solve Problems, and get things done in our meeting.
                        </span>
                        <a href="https://calendly.com/naafycontracting-info/30min" target="_blank" class="primary-btn button-hover-effect">Schedule a Meeting</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

    <!-- Latest Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-6">
                    <div class="section-title">
                        <h2>From our Blogs</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="latest__btn">
                        <a href="{% url 'blog:blog-list' %}" class="primary-btn normal-btn">View All</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for b in blogs %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="latest__item">
                            <div class="latest__item__pic">
                                <div class="hover-effect">
                                    <a href="{% url 'blog:blog-details' b.slug %}"><img style="height:100%; width:100%" src="{{b.image.url}}" alt=""></a>
                                </div>
                            </div>
                            <div class="latest__item__text">
                                <h4>{{b.title|truncatechars:30}}</h4>
                                <a href="{% url 'blog:blog-details' b.slug %}">Read more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Latest Section End -->
{% endblock content %}