{% extends "partials/base.html" %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/clouds.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>General Contracting Services</h2>
                        <div class="breadcrumb__links">
                            <a href="{% url "home:home" %}">Home</a>
                            <span>Our Contracts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    <!-- Services Section Begin -->
    <section class="services services-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Our Contracting Services</span>
                        <h2>What we do</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for g in gen_services %}
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="services__item project__item">
                        <img src="{{g.image.url}}" width="80px" height="300px"  alt="">
                        <h4>{{g.title}}</h4>
                        <p style="color:#add8e6;">{{g.description}}</p>
                        <ul>
                            {% for b in g.bullet_points.all %}
                            <li>- <i>{{b.content}}</i></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% if gen_services %}
                    <div class="col-lg-12">
                        <div class="blog__pagination">
                            {% if gen_services.has_previous %}
                                <a href="?page={{ gen_services.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a>
                            {% endif %}
                
                            {% for num in gen_services.paginator.page_range %}
                                {% if gen_services.number == num %}
                                    <a href="?page={{ num }}" class="active">{{ num }}</a>
                                {% else %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
                
                            {% if gen_services.has_next %}
                                <a href="?page={{ gen_services.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Counter Section End -->
    <section class="counter spad set-bg" data-setbg="{% static 'img/counter-bg.jpg' %}">
        <div class="container">
            <div class="counter__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 stats-container">
                        <div class="counter__item">
                            <div class="counter__item__number">
                                <h2 class="count">30</h2>
                            </div>
                            <div class="counter__item__text">
                                <h5>Projects<br /> Completed</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 stats-container">
                        <div class="counter__item">
                            <div class="counter__item__number">
                                <h2 class="count">53</h2>
                            </div>
                            <div class="counter__item__text">
                                <h5>Happy<br /> Clients</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 stats-container">
                        <div class="counter__item">
                            <div class="counter__item__number">
                                <h2 class="count">34</h2>
                            </div>
                            <div class="counter__item__text">
                                <h5>Cups Of<br /> Coffee</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

{% endblock content %}