{% extends "partials/core.html" %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    {% comment %} <div class="breadcrumb-option spad set-bg" data-setbg="{% static 'img/clouds.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Contact-Us</h2>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Contact-Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% endcomment %}
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad" style="background-color: rgb(249, 250, 252);">
        <div class="set-bg text-center justify-content-center " style="height: 320px; align-items: center; display: flex;" data-setbg="{% static 'img/call.jpg' %}">
            <div>
                <h1 style="color: white; font-weight: 500; margin-bottom: 24px; font-size: clamp(3rem, 5vw, 9rem);" class="contact-title">Contact us</h1>
                <p style="background-color: rgb(152, 193, 204); color: black; margin: auto; border-radius: 50px; padding: 6px 0px; font-weight: 500; min-width: 290px; max-width: 360px; font-size: clamp(0.02rem, 4vw, 0.9rem);">Get Up To 15% Off (Limited Time Offer) </p>
            </div>     
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 bg-danger">
                    <div class="messagesTime">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}">
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 96px; align-items: start; display: flex; gap: 24px; flex-direction: row; justify-content: space-between; ">
                <div class="col-lg-4" style="background-color: white; flex: 1;">
                    <div class="row contact-widget" style="padding: 32px 12px; margin: 8px; align-items: center;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h3 style="padding-bottom: 32px; font-weight: 600;">Get in touch</h3>
                            <div class="contact__widget__item">
                                <div class="contact__widget__item__icon">
                                    <?xml version="1.0" encoding="UTF-8"?><svg width="32px" height="32px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M18.1182 14.702L14 15.5C11.2183 14.1038 9.5 12.5 8.5 10L9.26995 5.8699L7.81452 2L4.0636 2C2.93605 2 2.04814 2.93178 2.21654 4.04668C2.63695 6.83 3.87653 11.8765 7.5 15.5C11.3052 19.3052 16.7857 20.9564 19.802 21.6127C20.9668 21.8662 22 20.9575 22 19.7655L22 16.1812L18.1182 14.702Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                </div>
                                <div class="contact__widget__item__text">
                                    <h5 style="color: #707070; text-transform: capitalize; font-size: 12px; font-weight: 500;">Phone Number</h5>
                                    <span>{{ contact_details.phone_no }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="contact__widget__item">
                                <div class="contact__widget__item__icon">
                                    <?xml version="1.0" encoding="UTF-8"?><svg width="32px" height="32px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M7 9L12 12.5L17 9" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M2 17V7C2 5.89543 2.89543 5 4 5H20C21.1046 5 22 5.89543 22 7V17C22 18.1046 21.1046 19 20 19H4C2.89543 19 2 18.1046 2 17Z" stroke="#000000" stroke-width="1.5"></path></svg>
                                </div>
                                <div class="contact__widget__item__text">
                                    <h5 style="color: #707070; text-transform: capitalize; font-size: 12px; font-weight: 500;">Email Address</h5>
                                    <span>{{ contact_details.email }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="contact__widget__item last__item">
                                <div class="contact__widget__item__icon">
                                    <?xml version="1.0" encoding="UTF-8"?><svg width="32px" height="32px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M20 10C20 14.4183 12 22 12 22C12 22 4 14.4183 4 10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10Z" stroke="#000000" stroke-width="1.5"></path><path d="M12 11C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10C11 10.5523 11.4477 11 12 11Z" fill="#000000" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                </div>
                                <div class="contact__widget__item__text">
                                    <h5 style="color: #707070; text-transform: capitalize; font-size: 12px; font-weight: 500;">Office Location</h5>
                                    <span>{{ contact_details.office_location }}</span>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-8" style="background-color: white; padding: 32px 24px; flex: 1;">
                    <h3 style="padding-bottom: 32px; font-weight: 600;">Appointment</h3>
                    <div class="contact__form">
                        <form method="POST" action="{% url 'contact:contact-form' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="fullname">Full Name</label>
                                    <input type="text" name="name" id="name"  required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="email">Email Address</label>
                                    <input type="email" name="email" id="email"  required>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <label for="phone">Phone Number</label>
                                    <input type="number" name="phone_no" id="phone_no"  required>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <label for="subject">Subject</label>
                                    <input type="text" name="subject" id="subject"  required>
                                </div>
                                <div class="col-lg-12">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" minlength="2"  required></textarea>
                                    <button type="submit" class="site-btn button-hover-effect" style="background-color: rgb(152, 193, 204); color: #111113;">
                                        <?xml version="1.0" encoding="UTF-8"?><svg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M22.1525 3.55321L11.1772 21.0044L9.50686 12.4078L2.00002 7.89795L22.1525 3.55321Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M9.45557 12.4436L22.1524 3.55321" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                                       <span style="margin-left: 8px;">Book An Appointment</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <section class="callto spad set-bg" data-setbg="{% static 'img/call.jpg' %}">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10 col-md-6 col-sm-12 text-center">
                    <div class="callto__text">
                        <h2>Ready to make your home dreams a reality?</h2>
                        <span style="text-transform: capitalize; font-weight: 400; font-size: 18px; text-shadow: #111113;"> Let’s work together to share ideas, solve problems, and get things done in our meeting.
                        </span>
                        <a href="https://calendly.com/naafycontracting-info/30min" target="_blank" class="primary-btn button-hover-effect" style="background-color: rgb(152, 193, 204); color: #111113; font-weight: 500;">Schedule a Meeting</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section Begin -->
    <section class="testimonial-section">
        <div class="testimonial-heading">
            <h2>Reviews From Google</h2>
        </div>
        <div class="testimonial-carousel">
            <!-- Carousel Container -->
            <div id="carousel" class="carousel-container">
                {% for r in reviews %}
                <div class="testimonial-item {% if forloop.first %}active{% endif %}">
                    <p class="testimonial-text">
                        "{{ r.review }}"
                    </p>
                    <p class="testimonial-author">— {{ r.user_name }}</p>
                    <div class="testimonial-image">
                        {% if r.user_image and r.user_image.url %}
                            <img src="{{ r.user_image.url }}" alt="User Image">
                        {% else %}
                            <img src="https://www.shutterstock.com/image-vector/blank-avatar-photo-place-holder-600nw-1095249842.jpg" alt="Default User Image">
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <!-- Navigation Dots -->
            <div class="carousel-dots">
                {% for r in reviews %}
                <div class="dot {% if forloop.first %}active{% endif %}" onclick="goToReview({{ forloop.counter0 }})"></div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->
    <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1173692421078833');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1173692421078833&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
{% endblock content %}